/* -- Variables -- */

:root {
	--primary-background: #172b23;
	--secondary-background: #2b4c3c;
	--primary-text: #fff;
	--secondary-text: #c8c8c8;
	--primary-accent: #2f6844;
	--secondary-accent: #1c453f;
	--shadow: 2px 2px 0px rgba(28, 69, 63, 0.2);
}

/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
	text-decoration: none;
}

* {
	margin: 0;
}

html,
body {
	font-family: "Ubuntu", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	color: var(--primary-text);
	height: 100%;
	background-color: var(--primary-background);
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

ul,
ol {
	list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* Layout Styles */

.layout-container {
	height: 100vh;
	overflow: auto;
	display: grid;
	grid-template-columns: 250px minmax(250px, 1fr);
	grid-template-rows: 200px minmax(250px, 1fr);
}

header {
	background-color: var(--primary-background);
	grid-column: 2 / -1;
	grid-row: 1 / 2;
	height: 200px;
}

nav {
	background-color: var(--secondary-background);
	grid-column: 1 / 2;
	grid-row: 1 / -1;
}

main {
	background-color: var(--primary-background);
	grid-column: 2 / -1;
	grid-row: 2 / -1;
	overflow: auto;
}

/* Header */

.header-container {
	position: relative; /* Allows z-index to work */
	z-index: 10; /* Higher than the element below */
	height: auto;
	min-height: 200px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	border: 0px solid black;
	overflow: visible;
	box-shadow: var(--shadow);
}

.search-bar {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
}

.account-container {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 32px;
	padding-right: 40px;
}

.header-text {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
}

.header-buttons {
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 32px;
	padding-right: 40px;
}

#user-icon-large,
#search {
	margin-left: 32px;
}

/* Navigation */

.sidebar-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.dashboard-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 32px 32px 32px;
	gap: 8px;
}

.nav-list {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 16px;
	margin: 56px 32px 0px;
}

/* Main */

.main-container {
	grid-template-columns: 3fr 1fr;
	display: grid;
	gap: 32px;
}
.main-column-one {
	grid-column: 1 / 2;
}

.projects-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 32px;
}

.main-column-two {
	grid-column: 2 / 3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	padding-right: 40px;
}

/* -- Content Styles --  */

/* Header */

input[type="search"] {
	height: 40px;
	width: 80%;
	padding: 16px;
	background-color: var(--secondary-accent);
	color: var(--primary-text);
	outline: none;
	border: 2px solid var(--primary-accent);
	border-radius: 16px;
	box-shadow: var(--shadow);
}

button {
	height: fit-content;
	width: 100px;
	padding: 8px;
	color: var(--primary-text);
	background-color: var(--secondary-accent);
	border: 2px solid var(--primary-accent);
	border-radius: 16px;
	transition: all 0.2s ease-in-out;
	position: relative;
}

button:hover {
	color: var(--primary-text);
	background-color: var(--primary-accent);
	cursor: pointer;
	top: -4px;
}

/* Navigation */

#dashboard-icon {
	border-radius: 1000px;
}

.nav-item > a {
	display: flex;
	width: 155px;
	gap: 16px;
	color: var(--primary-text);
}

/* Main */

span {
	color: var(--secondary-text);
}

.main-column-one h3 {
	margin: 24px 40px 16px;
}

.main-column-two h3 {
	margin: 24px 0px 16px;
}

.project-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--secondary-background);
	padding: 24px;
	border: 4px solid var(--primary-accent);
	border-radius: 16px;
	box-shadow: var(--shadow);
}

.project-card:hover {
	box-shadow: var(--shadow);
	top: -4px;
}

.project-icons {
	display: flex;
	justify-content: flex-end;
	align-items: end;
	gap: 16px;
	padding: 8px;
}

a {
	color: var(--primary-text);
}

.trending-card,
.announcements-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	width: 100%;
	background-color: var(--secondary-background);
	padding: 24px;
	border: 2px solid var(--primary-accent);
	border-radius: 16px;
}

.project-card span {
	font-size: 0.9rem;
}

.announcements-card,
.trending-card {
	font-size: 0.8rem;
}

.main-container h4 {
	margin-bottom: 8px;
}

.user-card,
.card {
	width: 200px;
}

.user-card a {
	display: flex;
}

.profile-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin-left: 16px;
}

.break-line {
	height: 2px;
	width: 90%;
	background-color: var(--primary-accent);
}

.accent-line {
	height: 100%;
	width: 16px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--primary-accent);
	border-radius: 8px 4px;
}

a {
	position: relative;
}

a:hover {
	cursor: pointer;
	top: -2px;
}

.btn {
	cursor: pointer;
}
/* Media Queries */
