/* Variables */

/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* Layout Styles */

.layout-container {
	height: 100vh;
	display: grid;
	grid-template-columns: 250px minmax(250px, 1fr);
	grid-template-rows: 200px minmax(250px, 1fr);
}

header {
	background-color: red;
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	border: 1px solid black;
}

nav {
	background-color: blue;
	grid-column: 1 / 2;
	grid-row: 2 / -1;
	border: 1px solid black;
}

main {
	background-color: yellow;
	grid-column: 2 / -1;
	grid-row: 2 / -1;
	border: 1px solid black;
}
/* Content Styles */

/* Media Queries */
